@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
    /* Improved text color for readability */
    margin: 0;
    font-size: 16px;
    /* Adjusted to a more standard size */
}

a {
    text-decoration: none;
    color: #333;
    /* Improved link color for readability */
}

nav {
    background-color: darkslategray;
    color: #efefef;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    padding: 0 20px;
    /* Adjusted padding for better alignment */
}

.nav-wrapper .logo h1 {
    color: #efefef;
    margin: 0;
    /* Remove default margin */
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #efefef;
    text-decoration: none;
}

/* Hamburger Menu CSS */
.ham-menu {
    display: none;
    /* Hide by default */
    cursor: pointer;
    position: relative;
    /* Relative positioning to ensure it's in the correct place */
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f0eaea;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-active {
    display: block !important;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: darkslategray;
        width: 100%;
    }

    .menu-active {
        display: flex;
    }

    .nav-wrapper {
        padding: 0 10px;
        /* Adjust padding for smaller screens */
    }

    .ham-menu {
        display: block;
        /* Show hamburger menu on small screens */
    }
}

@media only screen and (max-width: 360px) {
    .menu {
        /* Additional styles for very small screens if needed */
    }
}