@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    background-color: #000000;
    color: #f5f5f5;
    margin: 0;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #efefef;
}

nav {
    background-color: rgb(0, 0, 0);
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    padding: 0 1rem;
}

.nav-wrapper .logo h3 {
    color: #efefef;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
    margin-top: 10px;
}

.menu li a {
    color: #efefef;
    text-decoration: none;
}


/* Hamburgur Menu css */
.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f0eaea;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (min-width:416px) {
    .ham-menu {
        display: none;
    }
}

@media only screen and (max-width:415px) {
    .menu {
        display: none;
        width: 100%;
    }

    .nav-wrapper {
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-active {
        display: block;
    }

    .menu li {
        margin: 1rem 0;
        padding: 1rem 0.5rem;
        transition: 0.3s;
    }

    .menu li:hover {
        background-color: #0b1b12;
    }
}

/* Ensure the jumbotron has a background image */
.jumbotron {
    background-image: url('Untitled\ design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

/* .container {
    width: 500px;
    margin: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
} */