#map {
    width: 100%;
    height: 600px;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    background-color: #688292;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #efefef;
}

nav {
    background-color: rgb(0, 0, 0);
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    padding: 0 1rem;
}

.nav-wrapper .logo h3 {
    color: #efefef;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
    margin-top: 10px;
}

.menu li a {
    color: #efefef;
    text-decoration: none;
}